<span style="font-size: 20px; border-radius: 5px; border: 1px solid #EBEBEB; padding: 0 10px 0 10px;">
  <i class="fa-solid fa-hands-clapping" style="color: #FFA500;"></i>&nbsp;参考になった｜<%= counseling_post.favorites.count %>
</span>
