h3 {
  padding: 0.4em 0.5em;
  color: #000;
  background: #f4f4f4;
  border-left: solid 5px #7db4e6;
  border-bottom: solid 3px #d7d7d7;
}



.btn-submit {
  padding: 10px 20px;
  background-color: #19A7CE;
  color: #FFF;
  transition: background-color 0.3s ease;
  font-weight: bold;

  &:hover {
    background-color: rgba(41, 148, 178, 0.7);
    color: #FFF;
    font-weight: bold;
  }
}

.card-img{
  border-bottom: 1px solid #EBEBEB;
  border-radius: 10px 10px 0 0;
}

.user-image{
  border: 2px solid #000;
  background-color: #FFF;
}

.card-img-container {
  position: relative;

  .status-answer_reception {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    border-radius: 0 8px 0 10px;
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .status-resolved {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    border-radius: 0 8px 0 10px;
    color: #FFF;
    background-color: rgb(242, 76, 61, 0.8);
  }
}


// 一覧のカード
.post-link {
  color: #000;
  text-decoration: none;

  &:hover {
    color: #000;
    text-decoration: none;
  }
}

.post-card {
  position: relative;
  background-color: #FFF;
  border: 1px solid #ebebeb;
  height: 520px;
  border-radius: 10px;

  &:hover {
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.2);
    margin-top: -5px;
    color: #000;
    text-decoration: none;
    opacity: 0.6;
  }
}


.padding-adjust {
    padding-right: 5px !important;
    padding-left: 5px !important;
}

.flex-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.bottom-aligned {
    margin-top: auto;
    margin-bottom: 10px;
}

.bottom{
  position: absolute;
  bottom: 10px;
  width: 100%;
}


.comment-icon {
  font-size: 20px;
}

.comment-count {
  font-size: 20px;
}


.btn-color-index {
  padding: 10px 20px;
  border: 2px solid #000;
  background-color: transparent;
  color: #000;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: #000;
    color: #FFF;
  }
}

.box {
  background-color: #FFF;
  position: relative;
  margin: 2em 0;
  padding: 0.5em 1em;
  border: 2px solid #393E46;
  border-radius: 8px;
  }
  .box .box-title {
  position: absolute;
  display: inline-block;
  top: -13px;
  left: 10px;
  padding: 0 9px;
  line-height: 1;
  font-size: 19px;
  background: #FFF;
  color: #393E46;
  font-weight: bold;
}

.box p {
  margin: 0;
  padding: 0;
}

body{
  background-color: #f5f5f5;
}


a.custom-link {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

a.custom-link:hover {
  color: #19A7CE;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 3px solid #19A7CE;
  padding-bottom: 3px;
}