.card-border{
  border: 2px solid #343a40;
  border-radius: 10px;
}

.user-link{
  a{
    color: #343a40;
  }
}

.tag-link {
  color: #0079FF;
  text-decoration: none;
  padding: 0 10px 0 0;
}

.status-answer_reception, .status-resolved {
  padding: 10px;
  color: #FFF;
  border-radius: 10px;

  &.status-answer_reception {
    background-color: rgba(0, 0, 0, 0.6);
  }

  &.status-resolved {
    background-color: rgb(242, 76, 61, 0.8);
  }
}

// favoriteとgood_commentボタン
.btn-favorite{
  padding: 6px 12px;
  border: 2px solid #19A7CE;
  background-color: #FFF;
  color: #19A7CE;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #19A7CE;
    color: #FFF;
  }
}

.btn-unfavorite{
  padding: 6px 12px;
  background-color: #dcdcdc;
  color: #808080;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: rgba(220, 220, 220, 0.7);
    color:  #808080;
    text-direction: none;
  }
}

// コメント一覧
.comment-area{
  .comment-card-body{
    padding: 15px;
    border: 2px solid #343a40;
    position: relative;
    border-radius: 10px;

    .fa-heart{
      color: #cd5c5c;
      font-size: 15px;
      margin: 5px;
    }
  }

  .answer-card{
    border: 2px solid #343a40;
    border-radius: 10px;

    #post_comment_comment{
      border: 2px solid #343a40;
      border-radius: 10px;
    }
  }
}