// h3 {
//     position: relative;
//     padding: 1rem 2rem;
//     border-radius: 5px;
//     box-shadow: 7px 7px #f0b531, 7px 7px 0 3px #212121;
//     outline: 3px solid #212121;
//     background-color: #fefefe;
//     color: #212121;
//     font-size: 26px;
//     font-weight: bold;
//     text-align: center;
// }

.card-border{
  border: 3px solid #000;
}

.user-link{
  a{
    color: #000;
  }
}

.tag-link {
  display: inline-block;
  padding: 4px 8px;
  background-color: #007bff;
  color: #FFF;
  text-decoration: none;
  border-radius: 30px;

  &:hover {
    background-color: rgba(0, 121, 255, 0.8);
    color: #FFF;
    text-decoration: none;
  }
}

// favoriteとgood_commentボタン
.btn-favorite{
  padding: 10px 20px;
  border: 2px solid #19A7CE;
  background-color: #FFF;
  color: #19A7CE;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: #19A7CE;
    color: #FFF;
  }
}

.btn-unfavorite{
  padding: 10px 20px;
  background-color: #7F8487;
  color: #FFF;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: rgba(127, 132, 135, 0.8);
    color: #FFF;
  }
}

.green-background {
  background-color: #A7ECEE;
  margin-bottom: 5px;
}

// コメント一覧
.comment-card-body{
  padding: 15px;
  border: 2px solid #000;
  position: relative;

  .fa-heart{
    color: #cd5c5c;
    font-size: 15px;
    margin: 5px;
  }
}

.answer-card{
  border: 2px solid #000;

  #post_comment_comment{
    border: 1px solid #000;
  }
}

.post-status {
  padding: 10px;
  background-color: #FFF;
  color: #000;
  border: 2px solid #000;
}
