.card-border{
  border: 2px solid #000;
  border-radius: 10px;
}

.user-link{
  a{
    color: #000;
  }
}

.tag-link {
  display: inline-block;
  padding: 4px 8px;
  background-color: #FFF;
  color: #343A40;
  text-decoration: none;
  border-radius: 30px;
  border: 2px solid #343A40;

  &:hover {
    background-color: #343A40;
    color: #FFF;
    text-decoration: none;
  }
}

// favoriteとgood_commentボタン
.btn-favorite{
  padding: 10px 20px;
  border: 2px solid #19A7CE;
  background-color: #FFF;
  color: #19A7CE;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: #19A7CE;
    color: #FFF;
  }
}

.btn-unfavorite{
  padding: 10px 20px;
  background-color: #7F8487;
  color: #FFF;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: rgba(127, 132, 135, 0.8);
    color: #FFF;
  }
}

.green-background {
  background-color: #A7ECEE;
  margin-bottom: 5px;
}

// コメント一覧
.comment-card-body{
  padding: 15px;
  border: 2px solid #000;
  position: relative;
  border-radius: 10px;

  .fa-heart{
    color: #cd5c5c;
    font-size: 15px;
    margin: 5px;
  }
}

.answer-card{
  border: 2px solid #000;
  border-radius: 10px;

  #post_comment_comment{
    border: 2px solid #000;
    border-radius: 10px;
  }
}

.status-answer_reception {
  padding: 10px;
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.status-resolved {
  padding: 10px;
  color: #FFF;
  background-color: rgb(242, 76, 61, 0.8);
  border-radius: 10px;
}

.post-image{
  border: 3px solid #000;
}