.btn-registration{
  background-color: #61A4BC;
}


// ヘッダー

header{
  .header-bg-color {
    background-color: #ffffff!important;
  }
  .navbar-brand{
    color: #000 !important;
    font-weight: bold;
  }

  #navbar{
    ul{
      list-style: none;
      a{
        font-weight: bold;
        text-decoration: none;
        color: black;
        margin-right: 20px;
        &:hover{
          color: #000;
          text-decoration: none;
          border-bottom: 3px solid #2994B2;
        }
      }
    }
  }
}


.concept{
  margin: 100px;

  .concept-main{

    .sub-title-heading{
      background-color: #000;
      color: #FFF;
    }
  
    p{
      font-size: 20px;
    }
  }

  h1 span {
    font-size: 2em;
    color: #2994B2;
    margin-right: 15px;
  }

  .featurette-divider{
    margin: 50px 0;
  }
}


.btn-color-blue {
  padding: 10px 20px;
  background-color: #2994B2;
  border-radius: 20px;
  color: #FFF;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: rgba(41, 148, 178, 0.5);
    color: #FFF;
  }
}

.btn-login {
  padding: 10px 20px;
  background-color: #FFF;
  border-radius: 20px;
  border: 2px solid #000;
  color: #000;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: rgba(0, 0, 0, 0.5);
    border: 2px solid rgba(0, 0, 0, 0.5);
  }
}


.pagination {
  margin: 20px auto 0;
  width: 50%;
  display: flex;
  justify-content: center;

  span {
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #f3f3f3;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;

    &:hover {
      background-color: #2994B2;
      color: #FFF;
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      text-decoration: none;
      color: #000;

      &:hover {
        background-color: #2994B2;
        border-radius: 50%;
        color: #FFF;
      }
    }

    &.current {
      background-color: #2994B2;
      color: white;
      pointer-events: none;

      &:hover {
        background-color: #2994B2;
        border-radius: 50%;
      }
    }
  }
    span + span {
    margin-left: 15px;
  }
}

.gap {
  background-color: white !important;
}


// エラーメッセージ
.error-messages {
  background-color: rgba(255, 0, 0, 0.2);
  padding: 10px;
  // margin: 10px 0;

  h4, li {
    color: red;
  }
}
