<% if counseling_post.score.present? && counseling_post.magnitude.present? %>
  <div class="p-3" style="background-color: #e0f1fc; border-radius: 10px; border: 2px solid #BBE1FA;">
    <h4>
      <div style="display: flex; align-items: center;">
        <i class="fas fa-heartbeat" style="margin-right: 10px;"></i>
        感情分析：相談者理解の一助として
        <a href="#" id="show-modal-btn" style="color: blue; margin-left: auto;">
          <i class="fa-regular fa-circle-question"></i>
        </a>
      </div>
    </h4>
    <p style="font-size: 16px;">以下の結果は、相談内容から自動的に分析されたものです。</p>

    <!-- 感情分析モーダル -->
    <div id="emotion-analysis-modal" style="display:none; position:fixed; top:50%; left:50%; transform:translate(-50%, -50%); z-index:999; background:white; padding:20px; border-radius:10px; width: 80%; max-height: 100vh; overflow: auto;">
      <div style="background-color: #F0F0F0; padding: 20px; border-radius: 10px;">
        <h4>感情分析とは</h4>
        <p>相談内容からどのような感情が含まれているのかを解析したものです。</p>
      </div>
      <div style="margin-top: 20px; background-color: #F0F0F0; padding: 20px; border-radius: 10px;">
        <h4>感情の状態</h4>
        <p>相談内容から投稿者がどのような気持ちで書き込みをしたのかを示します。</p>
        <p>以下の5つの段階で表示されます</p>
        <ul style="list-style-type: none; padding-left: 0;">
          <li><span style="color: red; font-weight: bold;"><i class="fa-solid fa-face-tired"></i>非常にネガティブ
          <li><span style="color: orange; font-weight: bold;"><i class="fa-solid fa-face-frown"></i>ややネガティブ
          <li><span style="color: #ffa500; font-weight: bold;"><i class="fa-solid fa-face-meh"></i>平穏な気持
          <li><span style="color: #9acd32; font-weight: bold;"><i class="fa-solid fa-face-smile"></i>ややポジティブ
          <li><span style="color: green; font-weight: bold;"><i class="fa-solid fa-face-laugh-squint"></i>非常にポジティブ
        </ul>
      </div>
      <div style="margin-top: 20px; background-color: #F0F0F0; padding: 20px; border-radius: 10px;">
        <h4>感情の強さ</h4>
        <p>相談の内容から投稿者のその感情をどれくらい強く感じているかを示します。</p>
        <p>以下の3つの段階で表示されます</p>
        <ul style="list-style-type: none; padding-left: 0;">
          <li><span style="color: #ff0000;"><i class="fa-solid fa-fire"></i>とても強い
          <li><span style="color: #ffa500;"><i class="fa-solid fa-bolt-lightning"></i>やや強い
          <li><span  style="color: #008000;"><i class="fa-solid fa-leaf"></i>低い
        </ul>
      </div>
      <div style="margin-top: 20px;">
        <p>
          これらの指標は、相談者がどのような気持ちで相談を投稿しているのか、心理状態を理解する手がかりとなります。<br>
          これにより、適切な対応を行うことが可能となります。
        </p>
      </div>
      <div style="margin-top: 20px; text-align: center;">
        <button id="close-modal-btn" style="margin-top: 20px; padding: 10px 20px; background-color: #219EBC; color: #FFFFFF; border: none; border-radius: 5px; cursor: pointer;">閉じる</button>
      </div>
    </div>
    <div id="modal-background" style="display:none; position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.5); z-index:998;"></div>

    <!-- 感情状態と強度の結果を表示 -->
    <table class="table mb-4" style="width: 100%; text-align: center; border: 1px solid #dee2e6; background-color: #FFF;">
      <tr style="background-color: #FFF;">
        <th style="padding: 10px;">感情の状態</th>
        <th style="padding: 10px;">感情の強さ</th>
      </tr>
      <tr>
        <td style="padding: 10px;">
          <% if counseling_post.score <= -0.6 %>
            <span style="color: red; font-weight: bold;"><i class="fa-solid fa-face-tired"></i>非常にネガティブ</span>
          <% elsif counseling_post.score <= -0.2 %>
            <span style="color: orange; font-weight: bold;"><i class="fa-solid fa-face-frown"></i>ややネガティブ</span>
          <% elsif counseling_post.score <= 0.2 %>
            <span style="color: #ffa500; font-weight: bold;"><i class="fa-solid fa-face-meh"></i>平穏な気持ち</span>
          <% elsif counseling_post.score <= 0.6 %>
            <span style="color: #9acd32; font-weight: bold;"><i class="fa-solid fa-face-smile"></i>ややポジティブ</span>
          <% else %>
            <span style="color: green; font-weight: bold;"><i class="fa-solid fa-face-laugh-squint"></i>非常にポジティブ</span>
          <% end %>
        </td>
        <td style="padding: 10px; font-weight: bold;">
          <% if counseling_post.magnitude >= 0.7 %>
            <span style="color: #ff0000;"><i class="fa-solid fa-fire"></i>とても強い</span>
          <% elsif counseling_post.magnitude >= 0.3 %>
            <span style="color: #ffa500;"><i class="fa-solid fa-bolt-lightning"></i>やや強い</span>
          <% else %>
            <span style="color: #008000;"><i class="fa-solid fa-leaf"></i>低い</span>
          <% end %>
        </td>
      </tr>
    </table>
    <p style="font-size: 13px; color: #666;">
      <em>
        ※感情分析は自動化ツールによる予測結果です。正確性や完全性は保証されませんので、参考程度にご利用ください。具体的な状況や背景も考慮して判断してください。
      </em>
    </p>
  </div>
<% end %>