<div class="main">
  <div class="card devise-card">
    <div class="form-wrap">
      <div class="form-group text-center new-post ">
        <h3><strong>相談・質問編集</strong></h3>
      </div>
      <div class="new-form">
        <%= render 'layouts/error', obj: @counseling_post %>
        <%= render "form", counseling_post: @counseling_post, isEdit: true %>
      </div>
    </div>
  </div>
</div>