<div class="main">
  <div class="card devise-card">
    <div class="form-wrap">
      <div class="form-group text-center new-post ">
        <h4><strong>相談してみよう</strong></h4>
      </div>
      <div class="new-form">
        <%= render 'layouts/error', obj: @counseling_post %>
        <%= render "form", counseling_post: @counseling_post, isEdit: false %>
      </div>
    </div>
  </div>
</div>