<div class="container">
  <h3>通知</h3>
  <div class="d-flex justify-content-end">
    <%= link_to notification_path(@notifications), method: :delete do %>
      <h5>全部削除する</h5>
    <% end %>
  </div>
  <% if @notifications.exists? %>
    <div>
      <%= render @notifications %>
    </div>
  <% else %>
    <p>通知はありません</p>
  <% end %>
</div>