<div class="row no-gutters post-list">
  <div class="col-12 mb-3">
    <h3 class="text-center">相談した投稿</h3>
  </div>
  <%= render "public/counseling_posts/index", counseling_posts: counseling_posts %>
</div>

