<div class="container mt-3">
  <div class="row">
    <div class="col-12">
      <% if flash[:notice] %>
        <div class="alert alert-success">
          <i class="fa-solid fa-check"></i><%= flash[:notice] %>
        </div>
      <% elsif flash[:alert] %>
        <div class="alert alert-danger">
          <i class="fa-solid fa-triangle-exclamation"></i><%= flash[:alert] %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!-- コメント投稿成功時のフラッシュメッセージを表示 -->
<% if flash[:post_comment] %>
  <div class="alert alert-success">
    <%= flash[:post_comment] %>
  </div>
<% end %>
