<% if flash[:notice] %>
  <div class="alert alert-success mb-0">
    <%= flash[:notice] %>
  </div>
<% elsif flash[:alert] %>
  <div class="alert alert-danger mb-0">
    <%= flash[:alert] %>
  </div>
<% end %>