<footer>
  <div class="container-fluid bg-dark mt-5">
    <div class="row">
      <div class="mx-auto">
        <p class="text-center footer-text pt-2 text-white">
          <%= link_to "管理者ログイン", new_admin_session_path %>
        </p>
        <div class="text-center">
          <a href="#" class="footer-link text-white mr-3">利用規約</a>
          <a href="#" class="footer-link text-white mr-3">プライバシーポリシー</a>
          <a href="#" class="footer-link text-white">お問い合わせ</a>
        </div>
        <p class="text-center footer-text text-white mt-3">&copy; 2023 Danshari. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
